@page
@model Stage3FinalAppG23.Pages.Using.AccountModel
@{ ViewData["Title"] = "Your Account";
                Model.OnGet(); }

<div class="header-container">
    <img src="~/Images/Logo.png" width="75" height="50" />
    <div class="burger">
        <div class="row-1"></div>
        <div class="row-2"></div>
        <div class="row-3"></div>
    </div>
</div>
<div id="burger-menu">
    <nav>
        @if (string.IsNullOrEmpty(Model.ID))
        {
<a asp-page="/Using/Login">Register | Log In</a> }
            else
            {
<a asp-page="/Using/Account">Your Account</a>
                <a asp-page="/Using/SignOut">Sign Out</a>}
        <hr>
        <a asp-page="/Index">Submit</a>
        <a href="#">Track</a>
        <a href="#">Card Account</a>
        <a href="#">FAQ</a>
        <a href="#">Rebate Form</a>
        <a href="#">Contact Us</a>
    </nav>
</div>
<div class="section-container">
    <h2 class="your-account">Your Account</h2>
    <p class="small-print-login"> Fill out your account details, this process will help to speed the rebate process up.</p>
    <form method="post">
        <p class="small-print-success">@Model.Message</p>
        <div class="details-container">
            <div class="details-header">
                <h3>Personal Details</h3>
                <div class="details-burger-2">
                    <div class="row-1-X"></div>
                    <div class="row-2-Y"></div>
                </div>
            </div>
            <div class="account-form-2">
                <input type="hidden" asp-for="user.ID" />
                <div class="short-input-fields">
                    <div class="input-wrapper-short-1">
                        <label>First Name:</label>
                        <input asp-for="user.FirstName" class="short-input" disabled placeholder="John" />
                    </div>
                    <div class="input-wrapper-short-2">
                        <label>Last Name:</label>
                        <input asp-for="user.LastName" class="short-input" disabled placeholder="Smith" />
                    </div>
                </div>
                <div class="input-wrapper">
                    <label>Email Address:</label>
                    <input asp-for="user.EmailAddress" class="long-input" disabled placeholder="john@elanco.com" />
                </div>
                <div class="input-wrapper">
                    <label>Phone Number:</label>
                    <input asp-for="user.PhoneNumber" class="long-input" placeholder="291-868-537" />
                </div>
                <div class="input-wrapper">
                    <label>Street Address: <span>*</span></label>
                    <input asp-for="user.StreetAddress" class="long-input" placeholder="123 Blenheim Court" />
                </div>
                <div class="short-input-fields">
                    <div class="input-wrapper-short-1">
                        <label>Apartment:</label>
                        <input asp-for="user.Apartment" class="short-input" placeholder="Apartment" />
                    </div>
                    <div class="input-wrapper-short-2">
                        <label>ZipCode: <span>*</span></label>
                        <input asp-for="user.ZipCode" class="short-input" maxlength="5" placeholder="60182" />
                    </div>
                </div>
                <div class="input-wrapper">
                    <label>City: <span>*</span></label>
                    <input asp-for="user.City" class="long-input" placeholder="Sacremento" />
                </div>
                <div class="short-input-fields">
                    <div class="input-wrapper-short-1">
                        <label>Country: <span>*</span></label>
                        <input asp-for="user.Country" class="short-input" placeholder="US" />
                    </div>
                    <div class="input-wrapper-short-2">
                        <label>State: <span>*</span></label>
                        <input asp-for="user.State" class="short-input" placeholder="California" />
                    </div>
                </div>
            </div>
        </div>
        <div class="details-container">
            <div class="details-header">
                <h3>Pet Details</h3>
                <div class="details-burger-3">
                    <div class="row-1-X"></div>
                    <div class="row-2-Y"></div>
                </div>
            </div>
            <div class="account-form-3">
                <p>Pet 1</p>
                <input asp-for="user.Pet1Name" class="long-input" placeholder="Pet Name *" />
                <input asp-for="user.Pet1Birthday" class="long-input" type="date" placeholder="Pet Birthday" />
                <p>Pet 2</p>
                <input asp-for="user.Pet2Name" class="long-input" placeholder="Pet Name *" />
                <input asp-for="user.Pet2Birthday" class="long-input" type="date" placeholder="Pet Birthday" />
                <p>Pet 3</p>
                <input asp-for="user.Pet3Name" class="long-input" placeholder="Pet Name *" />
                <input asp-for="user.Pet3Birthday" class="long-input" type="date" placeholder="Pet Birthday" />
            </div>
            <button disabled class="rebate-search-search">Add Another Pet</button>
        </div>
        <div class="buttons">
            <input type="submit" class="continue-button" value="Save" />
            <a asp-page="/Index" class="back-button">Back</a>
        </div>
    </form>
</div>
